 <nav class="navbar is-primary" >
  <div class="navbar-brand">
    <a href="/" class="index">
      控え室
    </a>
    <div class="navbar-burger burger" data-target="items">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="items" class="navbar-menu">
    <div class="navbar-end">
      <a href="/" class="navbar-item">
        Home
      </a>
      <a href="/articles" class="navbar-item">
        記事一覧
      </a>
      <a href="https://twitter.com/okm_tky" class="navbar-item" target="_blank">
        Contact
      </a>
      {% if current_user.is_authenticated %}
      <a href="/article/post" class="navbar-item">
        投稿
      </a>
      <a href="/auth/main" class="navbar-item">
        管理室
      </a>
      {% endif %}
      <span class="navbar-item">
        <a href="https://github.com/txkxyx" class="button is-primary is-inverted" target="_blank">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </span>
      {% if current_user.is_authenticated %}
      <span class="navbar-item">
        <a href="/auth/logout" class="button is-primary is-inverted">
          <span>Logout</span>
        </a>
      </span>
      {% endif %}
    </div>
  </div>
</nav>