{% extends "common/layout.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="column is-8 is-offset-2">
            <h3 class="title is-2 has-text-centered">記事一覧</h3>
            {% if genre %}
            <div class="subtitle is-6 has-text-dark has-text-centered">
                <i class="fas fa-tag"></i>{{ genre.name }}
            </div>
            {% endif %}
                {% for article in articles %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://blog-bucket-nine.s3-ap-northeast-1.amazonaws.com/{{article.img_url}}" alt="Image">
                        </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <div><strong><a href="/article/{{article.id}}" class="is-size-4 has-text-black">{{ article.title}}</a></strong></div>                                
                                <div class="is-inline-block"><i class="fas fa-tag"></i>
                                    {% for genre in article.genres %}
                                        <a href="/articles/{{genre.id}}" class="subtitle is-6 has-text-dark">{{ genre.name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="is-size-6 is-inline-block has-text-dark is-pulled-right">{{ article.insert_date.strftime("%Y/%m/%d ") }}</div>
                                <div class="content body">
                                    {{ article.summary }}
                                </div>
                            </div>
                        </div>
                    </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}